<!-- Extend the base layout -->
{% extends "base.html" %}

<!-- Include the Sidebar layout -->
{% block sidebar %} {% include "sidebar.html" %} {% endblock %}

<!-- Include the navbar layout -->
{% block navbar %} {% include "navbar.html" %} {% endblock %} {% block content
%}
<!-- / .main-navbar -->
<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Dashboard</span>
      <h3 class="page-title">Overview</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <!-- End Small Stats Blocks -->
  <div class="row">
    <!-- Top Referrals Component -->
    <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
      <div class="card card-small h-100">
        <div class="card-header border-bottom">
          <!-- <h6 class="m-1"></h6> -->
          <div class="input-group mb-1">
            <input
              type="text"
              class="form-control"
              placeholder="Path to Directory"
              aria-label="path-to-directory"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="load_directory">
                <i
                  class="lnr lnr-arrow-right-circle"
                  style="font-size:1.05rem;color: #fff;"
                ></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-small list-group-flush">
            <!-- First show thw current root directory -->
            <li class="list-group-item d-flex px-3">
              <a
                href=""
                style="  display: flex !important;  width: 100% !important;"
                ><i
                  class="lnr lnr-home"
                  style="font-size:1.05rem; color: #ff7675;"
                ></i>
                <span
                  class="text-semibold text-fiord-blue"
                  style="padding-left: 0.5rem;"
                  >{{ ("../data/" | fileManager)[0] }}</span
                >
                <span
                  class="ml-auto text-right text-semibold text-reagent-gray lnr lnr-sync"
                  style="font-size:  1.05rem"
                >
                </span>
              </a>
            </li>

            <!-- Then show the directories -->
            {% for items in ('../data/' | fileManager)[1] %}
            <li class="list-group-item d-flex px-3" id="show_files">
              <a
                href=""
                style="  display: flex !important;  width: 100% !important;"
                data-path="{{ items[1] }}"
              >
                <i
                  class="lnr lnr-book"
                  style="font-size:1.05rem; color: #007bff;"
                >
                </i>
                <span
                  class="text-semibold text-fiord-blue"
                  style="padding-left: 0.5rem;"
                  >{{ items[0] }}</span
                >
                <span
                  class="ml-auto text-right text-semibold text-reagent-gray lnr lnr-chevron-down"
                ></span>
              </a>
            </li>

            <!-- Then show the files -->
            {% endfor %} {% for items in ('../data/' | fileManager)[2] %}
            <li
              class="list-group-item d-flex px-3 li-file"
              data-path="{{ items[2] }}"
            >
              <a
                href=""
                style="  display: flex !important;  width: 100% !important; color: #079992;"
              >
                <i class="lnr lnr-file-empty" style="font-size:1.05rem;"> </i>
                <span class="text-semibold" style="padding-left: 0.5rem;">{{
                  items[0]
                }}</span>
                <span
                  class="ml-auto text-right text-semibold text-reagent-gray"
                  >{{ items[1] }}</span
                >
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-footer border-top">
          <div class="row">
            <div class="col">
              <select class="custom-select custom-select-sm">
                <option selected>Last Week</option>
                <option value="1">Today</option>
                <option value="2">Last Month</option>
                <option value="3">Last Year</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Top Referrals Component -->
    <!-- Users Stats -->
    <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
      <div class="card card-small h-100">
        <div class="card-header border-bottom  d-flex">
          <h6 id="file_header">&nbsp;</h6>
          <a href="/full_report" style="position: absolute; right: 2%;">
            <button
              type="button"
              class="btn btn-sm btn-white  ml-sm-auto mr-sm-0 mt-3 mt-sm-0"
            >
              View Full Report→
            </button>
          </a>
        </div>
        <div class="card-body pt-0">
          <div class="row border-bottom py-2 bg-light text-center scrollable">
            <table class="table mb-0" style="font-size: small">
              <thead class="bg-light">
                <tr id="table_head"></tr>
              </thead>
              <tbody id="table_body"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End Users Stats -->
  </div>
  <div class="row">
    <!-- Users Stats -->
    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
      <div class="card card-small">
        <div class="card-header border-bottom">
          <h6 class="m-0" id="kernel_stats">Kernel Statistics</h6>
          <a href="/full_report" style="position: absolute; right: 2%;">
            <button
              type="button"
              class="btn btn-sm btn-primary  ml-sm-auto mr-sm-0 mt-3 mt-sm-0"
            >
              Kernel Details
            </button>
          </a>
        </div>
        <div class="card-body pt-0">
          <div class="row border-bottom py-2 bg-light">
            <canvas
              height="30"
              style="max-width: 100% !important;"
              class="blog-overview-users"
            ></canvas>
          </div>
        </div>
      </div>
      <!-- End Users Stats -->
    </div>
  </div>
</div>
{% endblock %}
